<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content"width=device-width, intial-scale=1.0" />
    <title>Outside the Page</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="page-header">
      <h1 class="page-header__title">Outside the Page</h1>
      <h2  class="page-header__strapline">Various musings, rants and maybe even code, from the perspective of a frontend dev</h2>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/bundle.js"></script>

    <footer class="page-footer">
      <nav>
        <ul class="contact-links">
          <li class="contact contact--twitter"><a href="https://twitter.com/psebborn" title="Find me on Twitter">Twitter</a></li>
          <li class="contact contact--github"><a href="https://github.com/psebborn" title="Find me on Github">Github</a></li>
          <li class="contact contact--linkedin"><a href="https://linkedin.com/in/paulsebborn" title="Find me on LinkedIn">Linkedin</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
